---
layout: default
title: Online, Worldwide
permalink: /
description: linux.conf.au is an open source technologies conference running online, Jan 23-25 2021.
---

<div class="bg-banner">
  <div class="container h-100 py-4">
    <div class="row h-100 align-items-center">
      <div class="align-self-center text-center">
        <div class="header-info px-3 py-3">
          <h1>linux.conf.au 2021</h1>
          <p class="h2 text-muted">January 23-25 2021<br>
            Online, Worldwide
          </p>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="bg-blaze">
  <div class="container py-4 text-center">
    <div class="row">
      <div class="col">
        <h2>Tickets on Sale Now!</h2>
        <p>You can <a href="/news/ticket-sales-open/">now purchase tickets</a> to attend linux.conf.au 2021. Don't miss your opportunity to hear from a number of leaders in our community.</p>
        <a href="/dashboard/" class="btn btn-primary" role="button">Buy a ticket</a>
        <a href="/attend/tickets/" class="btn btn-info" role="button">Find out more</a>
      </div>
    </div>
  </div>
</div>

<div class="py-4">
  <div class="container">
    <div class="row">
      <div class="col-md-6">
        <h2>What's happening in 2021?</h2>
        <p>linux.conf.au 2021 will be held online, worldwide.</p>
        <p>
          Due to the COVID-19 outbreak, linux.conf.au 2021 will be run a bit differently to normal.
          The conference will be held in an online format, accessible to everyone around the world.
          <a href="/news/lca2021-online/">Read more</a>
        </p>
      </div>
      <div class="col-md-6">
        <h2>Miniconfs</h2>
        <p>We have four <a href="/programme/miniconfs/">miniconfs</a> at linux.conf.au 2021, on Sat 23 January:</p>
        <ul>
          <li><a href="/programme/miniconfs/kernel">Kernel</a></li>
          <li><a href="/programme/miniconfs/open-hardware">Open Hardware</a></li>
          <li><a href="/programme/miniconfs/system-administration">System Administration</a></li>
          <li><a href="/programme/miniconfs/glam">GO GLAM</a></li>
        </ul>
      </div>
    </div>
    <div class="row">
      <div class="col-12">
        <h2>Want to keep up to date?</h2>
        <p>We've got lots to tell you in the coming months about linux.conf.au 2021.</p>
        <a href="https://lists.linux.org.au/mailman/listinfo/lca-announce" class="btn btn-dark" role="button">Subscribe for updates</a>
      </div>
    </div>
  </div>
</div>

<div class="bg-dusk-sea banner-subscribe">
  <div class="container py-4 text-center">
    <div class="row">
      <div class="col">
        <h2>Sponsor linux.conf.au</h2>
        <p>Sponsorship packages are available to suit a range of budgets, from small startup to enterprise.</p>
        <a href="/sponsors/prospectus/" class="btn btn-outline-light" role="button">View sponsorship options</a>
      </div>
    </div>
  </div>
</div>

<div class="py-4">
  <div class="container">
    <div class="row">
      <div class="col">
        <h2>About linux.conf.au</h2>
        <p>Running since 1999, linux.conf.au is the largest linux and open source conference in the Asia-Pacific region. The
        conference provides deeply technical presentations from industry leaders and experts on a wide array of subjects
        relating to open source projects, data and open government and community engagement.</p>
        <p>Still unsure what linux.conf.au is all about? Take a look through videos from past linux.conf.au
          conferences on <a href="https://youtube.com/c/linuxconfau">YouTube</a>.</p>
      </div>
    </div>
  </div>
</div>
