
<footer class="footer">
  <div class="container py-4">
    <div class="row">
      <div class="col-md-4 pb-4">

        <strong>linux.conf.au 2021</strong> <br>
        Jan 23-25 2021 <br>
        Online, Worldwide <br>
        Timezone: AEDT - UTC+11 <br>
        <a href="mailto:contact@lca2021.linux.org.au" alt="Email"><i class="far fa-envelope"></i></a>&nbsp;&nbsp;<a
          href="https://twitter.com/linuxconfau" alt="Twitter"><i class="fab fa-twitter"></i></a>&nbsp;&nbsp;<a
          href="https://www.facebook.com/linuxconferenceaustralia/" alt="Facebook"><i class="fab fa-facebook"></i></a>&nbsp;&nbsp;<a
          href="https://www.linkedin.com/company/linuxconfau/" alt="LinkedIn"><i class="fab fa-linkedin"></i></a>&nbsp;&nbsp;<a
          href="https://www.youtube.com/c/linuxconfau" alt="LinkedIn"><i class="fab fa-youtube"></i></a>
      </div>
      <div class="col-md-4 pb-4 text-center">
        <img src="/media/img/logo/lca_horiz_colour.svg" alt="linux.conf.au logo" class="footer-logo">
        <a href="https://linux.org.au"><img src="/media/img/sponsors/la_logo.svg" alt="Linux Australia logo" class="footer-image"></a>
      </div>
      <div class="col-md-4 pb-4 text-right">
        <small>
          <a href="#">Back to top</a><br>
          &copy; 2020 linux.conf.au and <a href="https://linux.org.au/">Linux Australia</a><br>
          Linux is a registered trademark of Linus Torvalds <br>
          <a href="/colophon">Colophon</a>
        </small>
      </div>
    </div>
  </div>
</footer>

<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
