{% assign title = "linux.conf.au 2021 | " | append: page.title %}
{% assign descript = page.abstract or page.description or site.description %}

<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

<title>{{ title }}</title>

<link href="https://fonts.googleapis.com/css?family=Montserrat:300|Source+Sans+Pro:400,700&display=swap&subset=latin-ext" rel="stylesheet">

<!-- CSS -->
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css" integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/" crossorigin="anonymous">
<link rel="stylesheet" href="/media/css/lca.css">

<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-177223268-1"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-177223268-1');
</script>

<!-- Cards -->
<meta property="og:title"  content="{{ title }}">
<meta property="og:description" content="{{ descript }}" />
<meta property="og:url" content="{{ page.url | prepend: site.url }}">
<meta name="twitter:site" content="@linuxconfau">
<meta name="twitter:image:alt" content="{{ title }}" />
{%- if page.card %}
<!--- twitter card -->
{% assign card_image = page.card | prepend: "/media/img/card/" | prepend: site.url -%}
<meta name="twitter:card" content="summary_large_image">
<meta name="twitter:image" content="{{ card_image }}" />
<meta property="og:image" content="{{ card_image }}" />
<meta property="og:image:width" content="1500" />
<meta property="og:image:height" content="750" />
{% else %}
<!--- no page.card found. -->
{% assign image = "/media/img/card/lca_badge.0e10614e.png" | prepend: site.url -%}
<meta name="twitter:card" content="summary">
<meta name="twitter:image" content="{{ image }}" />
<meta property="og:image" content="{{ image }}" />
<meta property="og:image:width" content="400" />
<meta property="og:image:height" content="400" />
{% endif %}
