<div class="card-deck-md my-3">
  <div class="card my-2 my-md-0">
    <div class="card-body">
      <h3 class="card-title"><a href="/programme/miniconfs/kernel">Kernel</a></h3>
      <h5 class="card-subtitle mb-2 text-muted">Organised by Andrew Donnellan</h5>
      <p class="card-text">A variety of talks and discussions on kernel and systems programming topics, including technical talks on current kernel developments and kernel community/process.</p>
    </div>
    <div class="card-footer">
      <span>Sat 23 Jan</span>
      <a href="/programme/miniconfs/kernel" class="card-link float-right">More details</a>
    </div>
  </div>
  <div class="card my-2 my-md-0">
    <div class="card-body">
      <h3 class="card-title"><a href="/programme/miniconfs/open-hardware">Open Hardware</a></h3>
      <h5 class="card-subtitle mb-2 text-muted">Organised by Jonathan Oxer and Andy Gelme</h5>
      <p class="card-text">Construct your own robot in the morning, then learn more about open hardware and related software in the afternoon.</p>
    </div>
    <div class="card-footer">
      <span>Sat 23 Jan</span>
      <a href="/programme/miniconfs/open-hardware" class="card-link float-right">More details</a>
    </div>
  </div>
</div>
<div class="card-deck-md my-3">
  <div class="card my-2 my-md-0">
    <div class="card-body">
      <h3 class="card-title"><a href="/programme/miniconfs/glam">GO GLAM</a></h3>
      <h5 class="card-subtitle mb-2 text-muted">Organised by Hugh Rundle and Bonnie Wildie</h5>
      <p class="card-text">The intersection of GLAM institutions (Galleries, Libraries, Archives, Museums) and open source communities.</p>
    </div>
    <div class="card-footer">
      <span>Sat 23 Jan</span>
      <a href="/programme/miniconfs/glam" class="card-link float-right">More details</a>
    </div>
  </div>
  <div class="card my-2 my-md-0">
    <div class="card-body">
      <h3 class="card-title"><a href="/programme/miniconfs/system-administration">System Administration</a></h3>
      <h5 class="card-subtitle mb-2 text-muted">Organised by Simon Lyall and Ewen McNeill</h5>
      <p class="card-text">The Systems Administration Miniconf focuses on professional management of real-world Linux and open source environments, both large and small.</p>
    </div>
    <div class="card-footer">
      <span>Sat 23 Jan</span>
      <a href="/programme/miniconfs/system-administration" class="card-link float-right">More details</a>
    </div>
  </div>
</div>
