<div class="table-responsive">
  <table class="table table-striped table-bordered" summary="This table provides a summary of the conference days">
    <tr>
      <th>Time</th>
      <th>Activity</th>
    </tr>
    <tr>
      <td>09:00 am</td>
      <td>Start of day and housekeeping</td>
    </tr>
    <tr>
      <td>9:10 am</td>
      <td>Welcoming remarks and/or keynote</td>
    </tr>
    <tr>
      <td>10:10 am</td>
      <td>Morning tea break</td>
    </tr>
    <tr>
      <td>10:45 am</td>
      <td>Talks</td>
    </tr>
    <tr>
      <td>11:30 am</td>
      <td>Break</td>
    </tr>
    <tr>
      <td>11:40 am</td>
      <td>Talks</td>
    </tr>
    <tr>
      <td>12:25 pm</td>
      <td>Lunch break</td>
    </tr>
    <tr>
      <td>1:30 pm</td>
      <td>Talks</td>
    </tr>
    <tr>
      <td>2:15 pm</td>
      <td>Break</td>
    </tr>
    <tr>
      <td>2:25 pm</td>
      <td>Talks</td>
    </tr>
    <tr>
      <td>3:10 pm</td>
      <td>Afternoon tea break</td>
    </tr>
    <tr>
      <td>3:45 pm</td>
      <td>Talks</td>
    </tr>
    <tr>
      <td>4:30 pm</td>
      <td>Break</td>
    </tr>
    <tr>
      <td>4:40 pm</td>
      <td>Talks</td>
    </tr>
    <tr>
      <td>5:25 pm</td>
      <td>Sessions end</td>
    </tr>
    <tr>
      <td>5:30 pm</td>
      <td>BoF sessions and evening events</td>
    </tr>
  </table>
</div>
