<div class="container">
  <div class="row mt-5 mb-2">
    <div class="col">
      <div class="card">
        <h3 class="card-header">Sponsors</h3>
        <div class="card-body">
          <div class="row align-items-center">
            <div class="col-md-3 col-lg-4 mr-auto">
              <p class="penguin-thanks">We thank our sponsors for their generous contribution to linux.conf.au 2021.</p>
              <a href="/sponsors/" class="btn btn-outline-primary mb-3 mb-md-0">View all sponsors</a>
            </div>
            <div class="col-md-9 col-lg-8">
              <h4 class="card-title">Emperor Penguin</h4>
              <div class="row">
                {% for level in site.data.sponsors %}
                {% if level.title == "Emperor Penguin" %}
                {% for sponsor in level.sponsors %}
                {% assign colspan = 6 %}
                {% if sponsor.colspan %}{% assign colspan = sponsor.colspan %}{% endif %}
                <div class="col col-md-{{colspan}}">
                  <div class="penguin-logo penguin-emperor my-3">
                    <a href="{{sponsor.href}}" target="_blank" class="d-block">
                      <img class="img-fluid logo" src="/media/img/sponsors/{{sponsor.logo}}" alt="{{sponsor.name}} logo">
                    </a>
                  </div>
                </div>
                {% endfor %}
                {% endif %}
                {% endfor %}
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
