<section class="sponsors">
  {% for level in site.data.sponsors %}
  <h2 class="sponsor-level">{{ level.title }}</h2>
  <div class="row">
    {% for sponsor in level.sponsors %}
    {% assign colspan = 6 %}
    {% if sponsor.colspan %}{% assign colspan = sponsor.colspan %}{% endif %}
    <div class="col-12 col-lg-{{colspan}}">
      <div class="text-center">
        <p>
          <a href="{{sponsor.href}}" target="_blank">
            <img class="img-fluid logo" src="/media/img/sponsors/{{sponsor.logo}}" alt="{{sponsor.name}} logo">
          </a>
        </p>
        <h4>
          <a href="{{sponsor.href}}" target="_blank">{{sponsor.name}}</a>
        </h4>
        {% if sponsor.twitter %}
        <p>
          <i class="fab fa-twitter"></i> <a href="https://twitter.com/{{sponsor.twitter}}" target="_blank">@{{sponsor.twitter}}</a>
        </p>
        {% endif %}
      </div>
      {% if sponsor.blurb %}
      <div class="text-justify">
        {{sponsor.blurb}}
      </div>
      {% endif %}
    </div>
    {% endfor %}
  </div>
  {% endfor %}
</section>
