<div class="table-responsive">
  <table class="table table-striped table-bordered" summary="This table provides a summary of the prices and what is included at each ticket tier">
    <thead>
      <tr>
        <th></th>
        <th scope="col">Contributor</th>
        <th scope="col">Professional</th>
        <th scope="col">Hobbyist</th>
        <th scope="col">Student</th>
        <th scope="col">Miniconf Only</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <th scope="row">Price</th>
        <td>$300</td>
        <td>$125</td>
        <td>$70</td>
        <td>$30</td>
        <td>$25</td>
      </tr>
      <tr>
        <th colspan="6">Inclusions</th>
      </tr>
      <tr>
        <th scope="row">Miniconfs</th>
        <td>Yes</td>
        <td>Yes</td>
        <td>Yes</td>
        <td>Yes</td>
        <td>Yes</td>
      </tr>
      <tr>
        <th scope="row">Main Conference</th>
        <td>Yes</td>
        <td>Yes</td>
        <td>Yes</td>
        <td>Yes</td>
        <td>No</td>
      </tr>
      <tr>
        <th scope="row">Professional Delegates Networking Session (PDNS)</th>
        <td>Yes</td>
        <td>Yes</td>
        <td>No</td>
        <td>No</td>
        <td>No</td>
      </tr>
      <tr>
        <th scope="row">Acknowledged at Opening</th>
        <td>Yes</td>
        <td>No</td>
        <td>No</td>
        <td>No</td>
        <td>No</td>
      </tr>
    </tbody>
  </table>
</div>
